body, html {
    font-family: "Josefin Slab", serif;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

#contact_sub_title {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 20px;
    width: fit-content;
    margin-left: 20%;
    padding-right: 5%;
}

#contact_main_title {
    font-size: calc(1.525rem + 3.3vw);
    font-weight: 300;
    line-height: 1.2;
    width: fit-content;
    margin-left: 20%;
    padding-right: 5%;
    position: relative;
    bottom: 40px;
}

#contact_content {
    font-weight: 300;
    font-size: 20px; 
    width: fit-content;
    margin-left: 20%;
    padding-right: 5%;
    line-height: 1.2;
    position: relative;
    bottom: 80px;
    text-align: justify;
}

#contact_text {
    width: 50%;
    margin-top: 15%;
}

#contact_nav {
    text-decoration: none;
    color: white;
    font-weight: bold;
    background-color: black;
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 20%;
    font-size: 16px;
    position: relative;
    bottom: 60px;
    text-transform: uppercase;
}

#contact {
    display: flex;
}

#banner_image {
    width: 50%;
    margin-top: 10%;
}

#chocolate {
    width: 80%;
    height: 80%;
    object-fit: cover;
}

.left-slideshow {
    width: 50%;
}

.chocolate-2 {
    width: 75%;
    height: 75%;
    margin-left: 20%;
}

.slideshow-text {
    font-weight: 300;
    font-size: 20px; 
    width: fit-content;
    margin-left: 20%;
    padding-right: 5%;
    line-height: 1.2;
    position: relative;
    bottom: -3px;
    text-align: justify; 
}

#left-slideshow-2 {
    display: none;
}

#left-slideshow-3 {
    display: none;
}

#left-slideshow-4 {
    display: none;
}

.right-slideshow {
    width: 50%;
}

#slideshow {
    display: flex;
}

.slideshow-title h1 {
    font-size: calc(1.525rem + 3.3vw);
    font-weight: 300;
    line-height: 1.2;
    width: fit-content;
    position: relative;
    bottom: 40px;
}

#slideshow-2 {
    position: relative;
    bottom: 80px;
}

#slideshow-3 {
    position: relative;
    bottom: 162px;
}

#slideshow-4 {
    position: relative;
    bottom: 243px;
}

.slideshow-title {
    margin-left: 15%;
    width: 80%;
    cursor: pointer;
}

.slideshow-title:hover {
    color: #d3dde7 !important;
}

#slideshow-1 {
    color: #d3dde7;
}

.product_service {
    text-decoration: none;
    color: white;
    font-weight: bold;
    background-color: black;
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 20%;
    font-size: 16px;
    text-transform: uppercase;
}

.left-slideshow-content p {
    padding-bottom: 20px;
}


